/*Font Face*/

@font-face {
    font-family: 'lab_grotesqueregular';
    src: url('../fonts/LabGrotesque-Regular.eot');
    src: url('../fonts/LabGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/LabGrotesque-Regular.woff') format('woff'),
        url('../fonts/LabGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lab_grotesquemedium';
    src: url('../fonts/LabGrotesque-Medium.eot');
    src: url('../fonts/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/LabGrotesque-Medium.woff') format('woff'),
        url('../fonts/LabGrotesque-Medium.ttf') format('truetype'),
        url('../fonts/LabGrotesque-Medium.svg#LabGrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'lab_grotesqueblack';
    src: url('../fonts/LabGrotesque-Black.eot');
    src: url('../fonts/LabGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-Black.woff2') format('woff2'),
        url('../fonts/LabGrotesque-Black.woff') format('woff'),
        url('../fonts/LabGrotesque-Black.ttf') format('truetype'),
        url('../fonts/LabGrotesque-Black.svg#LabGrotesque-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'lab_grotesqueblack_italic';
    src: url('../fonts/LabGrotesque-BlackItalic.eot');
    src: url('../fonts/LabGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-BlackItalic.woff2') format('woff2'),
        url('../fonts/LabGrotesque-BlackItalic.woff') format('woff'),
        url('../fonts/LabGrotesque-BlackItalic.ttf') format('truetype'),
        url('../fonts/LabGrotesque-BlackItalic.svg#LabGrotesque-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'lab_grotesquebold';
    src: url('../fonts/LabGrotesque-Bold.eot');
    src: url('../fonts/LabGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/LabGrotesque-Bold.woff') format('woff'),
        url('../fonts/LabGrotesque-Bold.ttf') format('truetype'),
        url('../fonts/LabGrotesque-Bold.svg#LabGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lab_grotesquebold_italic';
    src: url('../fonts/LabGrotesque-BoldItalic.eot');
    src: url('../fonts/LabGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-BoldItalic.woff2') format('woff2'),
        url('../fonts/LabGrotesque-BoldItalic.woff') format('woff'),
        url('../fonts/LabGrotesque-BoldItalic.ttf') format('truetype'),
        url('../fonts/LabGrotesque-BoldItalic.svg#LabGrotesque-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'lab_grotesqueitalic';
    src: url('../fonts/LabGrotesque-Italic.eot');
    src: url('../fonts/LabGrotesque-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-Italic.woff2') format('woff2'),
        url('../fonts/LabGrotesque-Italic.woff') format('woff'),
        url('../fonts/LabGrotesque-Italic.ttf') format('truetype'),
        url('../fonts/LabGrotesque-Italic.svg#LabGrotesque-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lab_grotesquelight';
    src: url('../fonts/LabGrotesque-Light.eot');
    src: url('../fonts/LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-Light.woff2') format('woff2'),
        url('../fonts/LabGrotesque-Light.woff') format('woff'),
        url('../fonts/LabGrotesque-Light.ttf') format('truetype'),
        url('../fonts/LabGrotesque-Light.svg#LabGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lab_grotesquelight_italic';
    src: url('../fonts/LabGrotesque-LightItalic.eot');
    src: url('../fonts/LabGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-LightItalic.woff2') format('woff2'),
        url('../fonts/LabGrotesque-LightItalic.woff') format('woff'),
        url('../fonts/LabGrotesque-LightItalic.ttf') format('truetype'),
        url('../fonts/LabGrotesque-LightItalic.svg#LabGrotesque-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'lab_grotesquemedium_italic';
    src: url('../fonts/LabGrotesque-MediumItalic.eot');
    src: url('../fonts/LabGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LabGrotesque-MediumItalic.woff2') format('woff2'),
        url('../fonts/LabGrotesque-MediumItalic.woff') format('woff'),
        url('../fonts/LabGrotesque-MediumItalic.ttf') format('truetype'),
        url('../fonts/LabGrotesque-MediumItalic.svg#LabGrotesque-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

/*Multi font*/
@font-face {
    font-family: 'mulibold';
    src: url('../fonts/Muli-Bold.eot');
    src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Bold.woff2') format('woff2'),
        url('../fonts/Muli-Bold.woff') format('woff'),
        url('../fonts/Muli-Bold.ttf') format('truetype'),
        url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'muliregular';
    src: url('../fonts/Muli-Regular.eot');
    src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Regular.woff2') format('woff2'),
        url('../fonts/Muli-Regular.woff') format('woff'),
        url('../fonts/Muli-Regular.ttf') format('truetype'),
        url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli_semiboldregular';
    src: url('../fonts/Muli-SemiBold.eot');
    src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-SemiBold.woff2') format('woff2'),
        url('../fonts/Muli-SemiBold.woff') format('woff'),
        url('../fonts/Muli-SemiBold.ttf') format('truetype'),
        url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'muli_lightregular';
    src: url('../fonts/Muli-Light.eot');
    src: url('../fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Light.woff2') format('woff2'),
        url('../fonts/Muli-Light.woff') format('woff'),
        url('../fonts/Muli-Light.ttf') format('truetype'),
        url('../fonts/Muli-Light.svg#Muli-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'muli_extraboldregular';
    src: url('../fonts/Muli-ExtraBold.eot');
    src: url('../fonts/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-ExtraBold.woff2') format('woff2'),
        url('../fonts/Muli-ExtraBold.woff') format('woff'),
        url('../fonts/Muli-ExtraBold.ttf') format('truetype'),
        url('../fonts/Muli-ExtraBold.svg#Muli-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'mulibold_italic';
    src: url('../fonts/Muli-BoldItalic.eot');
    src: url('../fonts/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-BoldItalic.woff2') format('woff2'),
        url('../fonts/Muli-BoldItalic.woff') format('woff'),
        url('../fonts/Muli-BoldItalic.ttf') format('truetype'),
        url('../fonts/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'muli_extrabolditalic';
    src: url('../fonts/Muli-ExtraBoldItalic.eot');
    src: url('../fonts/Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Muli-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Muli-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Muli-ExtraBoldItalic.svg#Muli-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'muliitalic';
    src: url('../fonts/Muli-Italic.eot');
    src: url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Italic.woff2') format('woff2'),
        url('../fonts/Muli-Italic.woff') format('woff'),
        url('../fonts/Muli-Italic.ttf') format('truetype'),
        url('../fonts/Muli-Italic.svg#Muli-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'muli_extralightitalic';
    src: url('../fonts/Muli-ExtraLightItalic.eot');
    src: url('../fonts/Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Muli-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Muli-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'muli_blackitalic';
    src: url('../fonts/Muli-BlackItalic.eot');
    src: url('../fonts/Muli-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-BlackItalic.woff2') format('woff2'),
        url('../fonts/Muli-BlackItalic.woff') format('woff'),
        url('../fonts/Muli-BlackItalic.ttf') format('truetype'),
        url('../fonts/Muli-BlackItalic.svg#Muli-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'muli_blackregular';
    src: url('../fonts/Muli-Black.eot');
    src: url('../fonts/Muli-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Black.woff2') format('woff2'),
        url('../fonts/Muli-Black.woff') format('woff'),
        url('../fonts/Muli-Black.ttf') format('truetype'),
        url('../fonts/Muli-Black.svg#Muli-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'muli_extralightregular';
    src: url('../fonts/Muli-ExtraLight.eot');
    src: url('../fonts/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-ExtraLight.woff2') format('woff2'),
        url('../fonts/Muli-ExtraLight.woff') format('woff'),
        url('../fonts/Muli-ExtraLight.ttf') format('truetype'),
        url('../fonts/Muli-ExtraLight.svg#Muli-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'muli_lightitalic';
    src: url('../fonts/Muli-LightItalic.eot');
    src: url('../fonts/Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-LightItalic.woff2') format('woff2'),
        url('../fonts/Muli-LightItalic.woff') format('woff'),
        url('../fonts/Muli-LightItalic.ttf') format('truetype'),
        url('../fonts/Muli-LightItalic.svg#Muli-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'muli_semibolditalic';
    src: url('../fonts/Muli-SemiBoldItalic.eot');
    src: url('../fonts/Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Muli-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Muli-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

