/*Menu css*/

header:after,
.container:after {
    content: "";
    clear: both;
    display: block;
}

.header-main {
    position: relative;
    top: -80px;
}

.pushmenu {
    float: right;
    top: 0;
    z-index: 1000;
}

.pushmenu h3 {
    color: #f1f1f1;
    font-size: 1.3em;
    font-weight: 400;
    padding: 15px 25px;
    margin: 0;
    background: #333;
    height: 16px;
}

.links {
    list-style-type: none;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 41px;
}

.links li:last-child {
    margin-right: 0;
}

.links li a {
    position: relative;
    color: #3db0f5;
    font-size: 16px;
    font-weight: 400;
    font-family: 'lab_grotesquemedium';
}

.links li:hover>a {
    color: #00daff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.sub-icon {
    cursor: pointer;
    position: relative;
}

.sub-icon .fa-caret-down:before {
    position: absolute;
    top: 0;
    right: 0;
}

.pushmenu-push {
    position: relative;
    right: 0;
}

.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#nav_list {
    float: right;
    display: none;
    cursor: pointer;
}

#nav_list div {
    background: #000;
    height: 2px;
    width: 30px;
    margin: 5px 0;
}

.sidenav ul.sub-menu li:first-child,
.sidenav ul.sub-menu1 li:first-child {
    margin-bottom: 0px;
}

.sub-menu,
.sub-menu1 {
    display: block;
    z-index: 100;
    position: relative;
    top: 0;
    left: 0;
    /* background: #fff; */
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
}

.menu-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.sub-menu li,
.sub-menu1 li {
    display: block;
    text-indent: 24px;
}

.sub-menu li a,
.sub-menu1 li a {
    font-size: 12px;
    text-transform: lowercase;
    display: block;
}

.sub-menu li a span {
    margin-right: 0!important;
}

li.sidenav-number a,
li.RzaPhneCrd a {
    background: transparent;
    color: rgba(255, 255, 255, 0.70);
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 0!important;
}
li.sidenav-number a,
li.RzaPhneCrd a {
    background: transparent;
    color: rgba(255, 255, 255, 0.70);
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 0!important;
}
li.RazaNumber a,.RazaBalance {
    background: transparent;
    color: #fff;
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 0!important;
    font-size: 16px!important;
    padding: 10px 16px;
}

.RazaBalance {
    margin-bottom: 16px;
}
.RazaBalance .addcredit-btn {
    background: #ff664f;
    padding: 10px 27px 9px 51px;
    color: #fff;
    font-size: 15px;
    font-family: "lab_grotesquemedium";
    display: inline-block;
    position: relative;
    border-radius: 100px;
    text-align: center!important;
    margin-bottom: 16px;
}
.RazaBalance .addcredit-btn::before {
    left: 30%;
}

.tel-no {
    background: #3bb4ff;
    padding: 14px 32px 12px 32px !important;
    border-radius: 100px;
    color: #fff !important;
}

.mobile-icon {
    margin-right: 12px;
    display: inline-block;
    vertical-align: text-bottom;
}


/*Mobile Menu css*/

.mobile-menu {
    display: none;
}

.mobile-menu .logo a {
    display: none;
}

.bg-blue-inner {
    background: #1caef7 !important;
}

.hidden-mobile {
    display: none;
}

.inner-mobile-logo {
    display: none;
}


/*.inner-links li ul.sub-menu, .inner-links li ul.sub-menu1 {
    background: #fff;
    transition: all 0.3s linear 0s;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 270px;
    top: 17.3%;
}*/

ul.sub-menu li a {
    color: #fff;
    text-transform: capitalize;
}

a.support-nav img,
.setting-nav img {
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    float: right;
    margin-top: 11px;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.call_numb {
    position: absolute;
    left: 275px;
    top: 5px;
    line-height: 24px;
}
.store-details {
    line-height: 24px;
}

@media only screen and (max-width: 991px) {
    .bg-white-fixed {
        background: #fff;
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 999;
        top: 0;
        border-bottom: 1px solid #f4f4f4;
        transition: all ease 0.3s;
    }
    .bg-white-fixed #nav_list div {
        background: #36b7f8;
    }
    .bg-white-fixed #nav_list {
        top: 30px;
    }
    .mobile-menu .logo a.mobile-logo {
        display: block;
        position: fixed;
        z-index: 9;
        top: 20px;
        left: 15px;
    }
    .mobile-menu {
        display: block;
    }
    .header-main {
        position: relative;
        top: -80px;
    }
    .pushmenu h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 15px 25px;
        margin: 0;
        background: #333;
        height: 16px;
    }
    .links {
        list-style-type: none;
        padding: 0;
    }
    .links li {
        display: inline-block;
    }
    .links li a {
        position: relative;
        color: #3db0f5;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        padding: 14px;
        font-family: 'lab_grotesquemedium';
    }
    .links li:hover>a {
        color: #00daff;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }
    .sub-icon {
        cursor: pointer;
        position: relative;
    }
    .sub-icon .fa-caret-down:before {
        position: absolute;
        top: 0;
        right: 0;
    }
    .pushmenu-push {
        position: relative;
        right: 0;
    }
    .pushmenu,
    .pushmenu-push {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .formlogo {
        margin-top: 40px;
    }
    #nav_list {
        float: right;
        cursor: pointer;
        display: block;
        z-index: 9999;
        position: absolute;
        top: 46px;
        right: 20px;
    }
    #nav_list div {
        background: #36b7f8;
        height: 2px;
        width: 30px;
        margin: 5px 0;
    }
    #nav_list.change {
        top: 20px;
        position: fixed;
        right: 20px;
    }
    #nav_list.change div {
        background: #36b7f8;
    }
    .sub-menu {
        display: none;
        position: absolute;
        top: 30px;
    }
    .sub-menu li {
        display: block;
        margin-bottom: 15px;
    }
    .sub-menu li a {
        font-size: 12px;
        text-transform: lowercase;
        display: block;
    }
    .tel-no {
        background: #3bb4ff;
        padding: 12px 28px !important;
        border-radius: 20px;
        color: #fff !important;
    }
    a.tel-no:hover {
        background: transparent !important;
        color: #00daff !important;
    }
    .mobile-menu .lang-links {
        text-align: left;
        padding-top: 20px;
        padding-left: 25px;
        margin-bottom: 15px;
        border-bottom: 1px #cfd9e0 solid;
        padding-bottom: 20px;
    }
    .mobile-menu .lang-links li {
        display: inline-block;
        margin-right: 28px;
        text-align: left;
    }
    .mobile-menu .lang-links li a {
        color: #1caef7;
        font-size: 20px;
        font-family: 'lab_grotesqueregular';
    }
    .mobile-menu .links li {
        text-align: left;
    }
    .live-chat {
        margin-top: 24px;
    }
    .pushmenu-push-toright {
        right: 300px;
    }
    .pushmenu-left.pushmenu-open {
        right: 0;
        width: 100%;
    }
    .pushmenu-left {
        right: -300px;
    }
    .pushmenu {
        float: right;
        top: 0;
        z-index: 1000;
        background: #fff;
        text-align: center;
        width: 300px;
        height: 1400px !important;
        position: fixed;
    }
    .links li {
        display: block;
    }
    .links li a {
        display: block;
        color: #3c3c3c;
        padding-left: 25px;
        font-size: 20px;
    }
    .tel-no {
        color: #3c3c3c !important;
        background: transparent !important;
        padding: 12px 14px !important;
        font-family: 'lab_grotesqueregular' !important;
    }
    .top-nav-icon {
        margin-right: 18px;
    }
    .mobile-icon {
        margin-right: 19px;
        margin-left: 19px;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 4px);
        transform: rotate(-45deg) translate(-8px, 4px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -2px);
        transform: rotate(45deg) translate(-5px, -2px);
    }
    .sub-menu {
        position: relative;
        top: 0;
    }
    .headtop {
        margin-top: 0;
    }
    li.live-chat a {
        font-family: 'lab_grotesqueregular';
    }
}

@media only screen and (max-width: 767px) {
    #nav_list div {
        background: #fff;
    }
    /*  inner sidenav mobile start*/
    .inner-sidenav-mobile .links li {
        margin-right: 0;
        display: block;
    }
    .inner-sidenav-mobile .pushmenu {
        float: right;
    }
    .inner-sidenav-mobile #inner-nav_list {
        float: right;
        cursor: pointer;
        position: fixed;
        z-index: 1000000000!important;
        top: 20px;
        right: 25px;
        width: 50px;
        background: #fff;
        border-radius: 100px;
        height: 50px;
        padding: 10px;
    }
    .inner-sidenav-mobile #inner-nav_list div {
        background: #1caef7;
        height: 2px;
        width: 28px;
        margin: 6px 0;
    }
    .innerTopHead .pull-right {
        float: none !important;
        margin-top: 80px;
        margin-left: 0;
        margin-right: 0;
    }
    .innerTopHead ul {
        padding: 0;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        text-align: center;
    }
    .innerTopHead ul li {
        display: inline-block;
        margin-right: 20px !important;
        margin: auto;
        text-align: center;
    }
    .innerTopHead ul li h5 {
        color: #fff;
        text-align: center;
    }
    .innerTopHead ul li h5 span {
        font-family: 'lab_grotesquelight';
        font-weight: 300;
        color: #fff;
    }
    .inner-sidenav-mobile #inner-nav_list.change div {
        /*    background: #fff;
    color: #333333;*/
    }
    .innerTopHead {
        z-index: 10 !important;
        display: block;
        background: #36b7f8;
        top: 0;
    }
    .inner-sidenav-mobile .inner-pushmenu {
        float: right;
        top: 0;
        z-index: 1000;
        background: transparent;
        position: fixed;
        right: -300px;
        height: 100% !important;
    }
    .inner-sidenav-mobile.sidenav {
        background-color: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 999999999999999 !important;
        padding: 10px 25px 128px 25px;
    }
    .inner-sidenav-mobile .inner-pushmenu-left.pushmenu-open {
        right: 0;
        padding-top: 110px;
        position: relative;
        top: 0;
        width: 100%;
    }
    .inner-sidenav-mobile .inner-links li a {
        text-align: left;
    }
    .inner-sidenav-mobile #inner-nav_list.change {
        top: 19px;
        position: fixed;
        right: 25px;
        z-index: 9999;
    }
    .inner-sidenav-mobile::-webkit-scrollbar {
        display: none;
    }
    /*  .inner-sidenav-mobile.sidenav ul li.mobileLogo:first-child {
    position: fixed;
    top: 8px;
	    right: 30px;
  }
*/
    .inner-sidenav-mobile.sidenav ul li.mobileLogo:first-child {
        position: fixed;
        top: 10px;
        right: 35px;
    }
    .inner-mobile-logo {
        display: block;
        z-index: 10!important;
        position: fixed;
        right: 30px;
    }
    .inner-mobile-logo a {
        width: 150px;
    }
    .inner-sidenav-mobile.bg-blue-inner .inner-mobile-logo img {
        display: none;
    }
    .sidenav.inner-sidenav-mobile.bg-blue-inner {
        position: fixed !important;
        z-index: 10 !important;
    }
}

@media only screen and (min-width: 768px) {
    .inner-sidenav-mobile #inner-nav_list {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .formlogo {
        margin-top: 30px;
    }
    #nav_list {
        top: 36px;
    }
}


/*.inner-mobile-logo .sidenav-logo{
	display:none!important;	
}*/