@media only screen and (max-width: 2500px) {
    span.borderline-style:after {
        right: 1px;
    }
}

@media only screen and (max-width: 1294px) {
    .main .box-center {
        max-width: 100%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
    }
    .box-recharge {
        margin-bottom: 23px;
    }
    /*--footerlogo css start--*/
    .partnerlogo-block ul li {
        zoom: 0.8;
        margin: 0 -5px;
    }
    /*--footerlogo css end--*/
}

@media only screen and (max-width: 1200px) {
    .exploreProduct-block ul li {
        width: 23.5%;
        margin-right: 15px;
    }
    .whysellRaza-block {
        margin-top: 100px;
    }
    .exploreProduct-block {
        margin-top: 0;
    }
    /*----Login page css start----*/
    .login-section .login-logo {
        margin-top: 50px;
    }
    .login-section .login-head {
        margin: 50px 0 0;
    }
    /*----inner page css start----*/
    .box-recharge button.search-btn {
        padding: 8px 50px;
        min-width: 140px;
    }
    /*----recharge page css start----*/
    .usermobile-detailblock li {
        width: 24%;
        padding-right: 30px;
    }
    .multipleRechargeMode-block ul li {
        width: 11.9%;
    }
    .multipleRechargeMode-block ul li h6 {
        letter-spacing: -0.3px;
    }
    .form-container {
        width: 100% !important;
    }
    .rechargeformblock {
        padding: 30px 13%;
    }
    .customerinfo-block {}
    .customerinfo-form {
        max-width: 550px;
        margin: 0 auto;
        padding: 0px 20px 30px;
        display: block;
    }
    .multipleRechargeMode-block>select {
        margin-bottom: 30px;
        padding: 10px 64px;
        border-radius: 5px;
    }
    /*--darban new css start 21-dec--*/
    .process_left p,
    .process_right p {
        font-size: 17px;
    }
    /*--darban new css end 21-dec--*/
    /*--1-2-2019 Start--*/
    .confirm_infomation ul li {
        width: 100%;
    }
    /*--1-2-2019 End--*/
}

@media only screen and (max-width: 1024px) {
    .exploreProduct-block ul li {
        width: 49%;
        margin-right: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    .exploreProduct-block ul li:nth-child(2),
    .exploreProduct-block ul li:nth-child(4) {
        margin-right: 0;
    }
    .exploreProduct-block {
        text-align: inherit;
    }
    .whysellRaza-block h2 {
        text-align: center;
    }
    /*----Login page css start----*/
    /*----recharge page css start----*/
    .usermobile-detailblock li {
        width: 45%;
        margin-bottom: 20px;
        text-align: center;
        word-break: break-all;
    }
    .confirm_infomation ul li {
        width: 100%;
        margin-bottom: 20px;
    }
    .confirm_infomation ul li span {
        width: 50%;
        font-size: 13px;
    }
    .registerform-footer .rechargeformblock .form-group {
        margin-right: 21px;
    }
}

@media only screen and (max-width: 991px) {
    .exploreProduct-block ul li {
        width: 48.7%;
    }
    .register-now .register-left {
        border-radius: 5px 5px 0 0;
    }
    .register-now .commision {
        padding-top: 8%;
    }
    .register-now .training li,
    .register-now .training li:last-child {
        margin-right: 0;
        width: 100%;
        margin-top: 0;
    }
    .register-now .training li {
        margin-bottom: 15px;
    }
    .register-now .register-right h2 {
        text-align: center;
    }
    .register-now .register-right input {
        width: 100%;
    }
    .register-now {
        top: 0;
        padding-bottom: 50px;
    }
    .register-now .register-right {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        min-height: auto;
    }
    .footer-oneresponsive {
        margin-left: 15px;
    }
    aboutfooter-links {
        margin: 60px 0 0 0;
    }
    .register-now .row {
        width: auto;
        margin: 0 -15px 0 -15px;
    }
    .aboutfooter-links {
        margin-top: 60px;
    }
    /*headtop*/
    .bannerGraphic {
        margin-top: 30%;
    }
    .bannerGraphic img {
        margin: auto;
    }
    /*----Login page css start----*/
    /* inner page css */
    .box-recharge button.search-btn {
        padding: 12px 80px 10px;
        min-width: 200px;
    }
    .box-recharge .caption p {
        min-height: auto;
    }
    /*----recharge page css start----*/
    .rechargeformblock .selectplan {
        width: 100%;
    }
    .rechargeformblock {
        padding: 30px 15%;
        text-align: left;
    }
    .rechargeformblock .form-group {
        max-width: 320px;
        width: 100%;
        margin-right: 0;
    }
    .customerinfo-form div {
        display: block;
        width: 100%!important;
        max-width: 320px;
        margin-right: 0;
        text-align: left;
    }
    .customerinfo-form input {
        width: 100%;
    }
    .box-recharge:nth-of-type(2) {
        order: 1!important;
    }
    .box-recharge:nth-of-type(1) {
        order: 2!important;
    }
    .box-recharge:nth-of-type(3) {
        order: 3!important;
    }
    .bg-img {
        left: 0 !important;
        right: 0;
        margin: 0 auto;
        bottom: -80%;
        text-align: center;
    }
    .login-box {
        position: relative !important;
    }
    .login-section {
        height: auto !important;
    }
    .bg-img {
        bottom: -67%;
    }
    .box-recharge .thumbnail .caption {
        height: 303px;
    }
    .registerform-footer .rechargeformblock .form-group label {
        text-align: left;
    }
    /*--footerlogo css start--*/
    .partnerlogo-block ul li {
        zoom: 0.6;
    }
    /*--footerlogo css end--*/
}

@media only screen and (max-width: 767px) {
    .container {
        margin-right: 15px;
        margin-left: 15px;
    }
    .exploreProduct-block ul li {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }
    .exploreProduct-block {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .exploreProduct-block ul li:nth-child(4) {
        margin-bottom: 0;
    }
    .whybox-align {
        margin-bottom: 50px;
    }
    .whybox-align:last-child {
        margin-bottom: 0;
    }
    .bluepattern {
        width: 100%;
        margin-left: 0;
        left: 0;
        background: #ffffff url(../images/login_bg_img.png) no-repeat center center;
    }
    /*headtop*/
    .login-form {
        max-width: 350px;
    }
    .login-form input {
        width: 100%;
    }
    .headtop {
        text-align: center;
    }
    .bannerGraphic img {
        display: inline-block;
    }
    .formlogo,
    .buttonsblock {
        text-align: left;
    }
    .bannerGraphic {
        margin-top: 34%;
    }
    .faq-block .panel-heading .panel-title>a {
        padding: 16px 38px 16px 20px;
    }
    .faq-block .panel-body {
        padding: 18px 38px 18px 20px;
    }
    .faq-block .panel-heading .accordion-toggle:after {
        top: 20px;
    }
    .faq-block .panel-heading .accordion-toggle.acc-close {
        border-bottom: 0;
    }
    .faq-block .panel-heading .accordion-toggle.acc-close:after {
        top: 20px;
    }
    .faq-block .panel-default {
        border: 0;
        box-shadow: none;
        border-bottom: 1px #c8d8e3 solid;
    }
    .faq-block .panel-heading .panel-title>a.collapsed {
        border: 0;
    }
    .faq-block .panel-shadow {
        box-shadow: none;
    }
    .panel-default>.panel-heading+.panel-collapse .panel-body {
        border: 0;
    }
    /*----Login page css start----*/
    .login-box {
        right: 0!important;
        width: 100%!important;
        padding-right: 25px!important;
        padding-left: 25px!important;
    }
    .login-box .login-form {
        width: 100%!important;
        margin: auto!important;
    }
    .login-section .top-nav li {
        display: block!important;
    }
    .login-section .top-nav li:first-child {
        display: none!important;
    }
    .login-section .top-nav li:nth-of-type(2) {
        display: none!important;
    }
    .login-section .top-nav li:nth-of-type(3) {
        margin-bottom: 10px!important;
        margin-right: 0!important;
    }
    .login-section .login-logo {
        position: absolute!important;
        top: 0!important;
        margin-top: 35px!important;
    }
    .login-section .top-nav {
        float: right!important;
        position: relative!important;
    }
    .login-section .login-head {
        margin-top: 95px!important;
        font-size: 22px!important;
        text-align: left!important;
    }
    .login-section .buttonsblock {
        text-align: center!important;
        position: relative!important;
    }
    .login-section a.storeLogin-btn {
        position: absolute!important;
        top: 0!important;
        right: 5%!important;
    }
    .login-section button.storeLogin-btn,
    .login-section input.storeLogin-btn {
        width: 80%!important;
        margin-top: 20%!important;
    }
    .login-section .learn-more {
        text-align: center!important;
    }
    .login-section .login-bottom-link {
        margin-top: 38px!important;
        display: block!important;
    }
    .login-section .login-bottom-link li {
        margin-bottom: 18px!important;
        text-align: center!important;
    }
    .login-section .login-bottom-link a {
        color: #fff!important;
    }
    .login-bottom-link .top-nav-icon {
        margin-right: 12px!important;
    }
    .login-section .learn-more-button {
        font-weight: 800!important;
    }
    .login-section .storeLogin-btn.distributor-btn {
        margin-top: 18px!important;
    }
    /* inner page css */
    .main {
        margin-top: 200px !important;
        margin-left: 0 !important;
        padding-bottom: 120px !important;
        overflow-x: hidden;
        /* padding: 55px 25px 30px; */
    }
    /*.main.mainResponsive{
      margin-top: 200px !important;
      margin-left: 0 !important;
      padding-bottom: 120px !important;	
    }*/
    .main.mainResponsive {
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding-bottom: 120px !important;
        position: relative;
        top: 150px;
    }
    .box-recharge button.search-btn {
        display: block;
        margin: 30px auto 0;
    }
    .main .usermobile-detailblock {
        /*margin-top: 200px !important;	*/
    }
    /*footer*/
    .innerFooter {
        height: 120px;
    }
    .footer-container ul {
        float: none !important;
        display: block;
        text-align: center;
        width: 100%;
    }
    .footer-container .pull-left {
        margin-top: 20px;
        float: none !important;
        display: block;
        text-align: center;
        width: 100%;
    }
    .innerFooter {
        z-index: 0 !important;
    }
    /*inner banner*/
    .inner_banner {
        padding-left: 0;
    }
    .trans_div label {
        float: none;
        width: 100%;
    }
    .rechargeformblock .form-control {
        margin-right: 0!important;
    }
    .rechargeformblock input:not(:placeholder-shown)+label,
    .rechargeformblock input:focus+label {
        transform: translate(13px, 0px) scale(1)!important;
        cursor: pointer;
    }
    .sales_checkbox,
    .form-group span.sales_checkbox {
        z-index: 8!important;
    }
    .login-section .login-bottom-link {
        display: none !important;
    }
    .login-box .green_msg {
        background: none repeat scroll 0 0 #73b843;
        border: 1px solid #64c023;
        margin: 25px auto;
        padding: 0 1%;
        width: 100%;
        text-align: left;
        float: left;
    }
    .login-box .container {
        margin: 0;
        padding: 0;
    }
    .bg-img {
        bottom: -50%;
    }
    .rechargesubmit-btn,
    .customerinfo-buttonblock .rechargesubmit-btn {
        margin-top: 15px;
    }
    .check_table th {
        color: #0d5ea8;
        font-size: 18px;
    }
    .headtop input.storeLogin-btn {
        width: 100%!important;
    }
    .red_error p {
        margin: 0;
        font-size: 14px;
    }
    .mobileLogo {
        display: inline-block;
        float: left;
        margin: 0;
        position: fixed;
        left: 25px;
        z-index: 1000000;
    }
    .headfixed-mobile .innerTopHead ul {
        display: none;
    }
    .innerTopHead .pull-right {
        margin-top: 68px !important;
    }
    .main .box-center {
        margin-bottom: 80px !important;
    }
    .registerform-footer {
        background: #3BB4FE url(../new-images/signup-form-bg.png)no-repeat 90% bottom;
        background-size: 85%;
    }
    .registerform-footer .rechargeformblock .form-group {
        margin-right: 0;
        width: 100%;
        max-width: 100%;
    }
    /*--footerlogo css start--*/
    .partnerlogo-block ul li {
        zoom: 0.6;
        width: 16%;
        margin: 9px;
    }
    .partnerlogo-block {
        margin-top: 0 !Important;
    }
    .registerform-footer .rechargeformblock .form-group input {
        width: 100%;
    }
    /*--footerlogo css end--*/
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
    .login-section {
        background: rgb(56, 108, 177);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgb(56, 108, 177) 0%, rgb(59, 126, 195) 27%, rgb(60, 143, 213) 47%, rgb(64, 171, 242) 73%, rgb(63, 178, 249) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgb(56, 108, 177) 0%, rgb(59, 126, 195) 27%, rgb(60, 143, 213) 47%, rgb(64, 171, 242) 73%, rgb(63, 178, 249) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(56, 108, 177) 0%, rgb(59, 126, 195) 27%, rgb(60, 143, 213) 47%, rgb(64, 171, 242) 73%, rgb(63, 178, 249) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#386cb1', endColorstr='#3fb2f9', GradientType=0);
        /* IE6-9 */
    }
    .login-box {
        background: transparent !important;
        position: relative;
        max-width: 380px;
        margin: auto;
        padding-bottom: 40px;
    }
    input.distributor-btn {
        margin-left: 0!important;
        padding: 10px 11px 7px 11px!important;
        margin-top: 15px!important;
    }
    .inner-sidenav-mobile.sidenav {
        height: 100% !important;
    }
    .selectDropdownList {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .bannerGraphic {
        margin-top: 40%;
    }
    input.storeLogin-btn {
        width: 100%;
        margin-top: 10%;
        min-height: 48px;
    }
    input.distributor-btn {
        margin-left: 0!important;
        padding: 10px 11px 7px 11px!important;
        margin-top: 15px!important;
    }
    .buttonsblock {
        text-align: center;
        position: relative;
    }
    a.storeLogin-btn {
        position: absolute;
        top: -32%;
        right: 0;
    }
    .whysellRaza-block h2 {
        margin: 0 0 25px 0;
    }
    .paddingCommon-responsive {
        padding: 50px 0;
    }
    .mobile-faqtext {
        display: block;
    }
    .desktop-faqtext {
        display: none;
    }
    .faq-block {
        padding-bottom: 50px;
        margin-top: 0;
    }
    .register-now .register-right input[type="submit"] {
        max-width: 100%;
        margin-top: 40px;
    }
    .razainAction-block {
        min-height: auto;
    }
    .register-now .commision {
        padding-top: 10%;
    }
    /*----recharge page css start----*/
    .rechargeformblock,
    .rechargeformblockInter {
        padding: 30px 20px!important;
    }
    ul.usermobile-detailblock {
        padding-left: 0;
    }
    .main .box-center {
        text-align: center;
    }
    .box-recharge {
        margin-right: 0;
    }
}

@media only screen and (max-width: 414px) {
    .login-section .login-form .login-email {
        margin-top: 30px;
    }
    .login-section .login-form div h3 {
        margin-top: 76px;
    }
}

@media only screen and (max-width: 480px) {
    /*headtop*/
    .bannerGraphic {
        margin-top: 63%;
    }
    .register-now .commision {
        padding-top: 14%;
    }
    .faq-block .panel-heading .panel-title>a {
        font-size: 16px;
    }
    .faq-block .panel-body {
        font-size: 14px;
    }
    .faq-block .panel-heading .accordion-toggle:after {
        top: 30px;
    }
    .faq-block .panel-heading .accordion-toggle.acc-close:after {
        top: 30px;
    }
    /*----Login page css start----*/
    .login-section a.storeLogin-btn {
        right: 0!important;
        top: 0!important;
    }
    .login-section .login-head {
        text-align: left!important;
        margin-bottom: 20px!important;
    }
    .login-box {
        width: 100%!important;
    }
    .login-section .login-form {
        max-width: 100%!important;
    }
    .login-section .login-form input {
        width: 100%!important;
        padding-top: 16px!important;
    }
    .login-section .learn-more {
        text-align: left!important;
    }
    .login-section .login-bottom-link li {
        text-align: left!important;
    }
    /* inner page css */
    .box-recharge button.search-btn {
        padding: 12px 60px 9px;
        min-width: 160px;
    }
    /*inner footer*/
    .innerFooter ul li {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }
    .innerFooter {
        height: auto;
        padding-left: 20px;
        position: relative;
    }
    .innerFooter p {
        text-align: left;
    }
    /*----recharge page css start----*/
    .usermobile-detailblock li {
        width: 100%;
        padding-right: 0;
        text-align: left;
    }
    .rechargeformblock select.form-control {
        padding: 4px 12px;
        font-size: 15px;
        font-family: 'lab_grotesquemedium';
    }
    /*-22-1-2019 start-*/
    .innerTopHead ul {
        text-align: left !important;
        padding: 0 7% !important;
        display: inline-block;
    }
    .innerTopHead ul li:first-child {
        display: block;
        text-align: left;
        margin: 0;
    }
    .innerTopHead ul li h5 {
        text-align: left !important;
    }
    .innerTopHead ul li {
        margin-right: 8px !important;
    }
    .innerTopHead ul li:last-child {
        margin-right: 0 !important;
        float: right;
    }
    .addcredit-btn {
        padding: 10px 13px 9px 35px !important;
    }
    .addcredit-btn::before {
        left: 13px;
    }
    /*.main {
      margin-top: 142px !important;
     padding-top: 55px !important;
     padding-left: 0;
       padding-right: 0;
  }
  */
    .main {
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding-bottom: 120px !important;
        position: relative;
        top: 120px;
        /* margin-bottom: 120px!important; */
    }
    .main .usermobile-detailblock {
        padding: 0 7%;
    }
    .rechargeformblock .form-group {
        max-width: 100%;
        width: 100%;
    }
    /* .rechargeformblock .form-group label{
    text-transform:uppercase;
    font-weight:600 !important;
  }
  */
    .rechargeformblock,
    .rechargeformblockInter {
        padding: 30px 10px !important;
        border-radius: 0;
    }
    #call_detail .rechargesubmit-btn {
        margin-bottom: 25px !important;
    }
    /*-22-1-2019 End-*/
    /*-28-1-2019 Start-*/
    .main .row {
        margin: 0;
    }
    label.selectDropdownList {
        display: block;
        text-align: left;
        padding-left: 16%;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
    }
    /*-28-1-2019 End-*/
    .callOddbg {
        background: #f7f8f9;
        /*#f7f8f9*/
    }
    .callEvenbg {
        background: #fff;
    }
    .check_rates ul li {
        width: 18%;
        margin: 3px;
        text-align: center;
    }
    label.couponLbl {
        font-size: 10px !important;
        text-transform: capitalize !important;
    }
    .setpinAuto {
        right: 0;
        left: 0;
        bottom: -37px;
    }
    .pass-code .rechargebutton-block {
        margin-top: 50px;
    }
    #loadMore {
        text-align: left;
        display: block;
        padding-left: 30px;
    }
    .table-cont {
        max-height: initial;
        overflow: auto;
    }
    .mobileLeftRight-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .selectplan-domestic {
        padding: 4px 12px !important;
        background: transparent url(../new-images/selectbox-icon.png) no-repeat 94% center;
        -webkit-appearance: none;
    }
    .selectContainer {
        padding: 0 0;
    }
    .complaintBlock .sales_checkbox.normal-radio {
        right: 0;
        left: inherit;
        bottom: 0;
        top: 35px !important;
    }
    .balance-topblock {
        padding: 0 7%;
    }
    .trans_div_select {
        width: 100%!important;
    }
    .transactivity-block {
        padding: 50px 7%;
    }
    #MainContent_rdoFreeTrial {
        margin-top: 8px;
    }
    .sales_report {
        padding: 0;
        width: 100%;
    }
    .labelnew {
        padding-left: 12px;
    }
    .radiobtn-free {
        margin-left: 0;
        padding: 0 7%;
    }
    .create p {
        font-size: 19px;
    }
    .newcustomer-label label {
        font-size: 9px !important;
    }
    .tab-container h3 {
        padding-left: 35px;
        padding-right: 35px;
    }
    .confirm_infomation ul li span:nth-child(2) {
        text-align: right;
    }
    .recharge_confirm {
        padding: 30px 7%;
    }
    .selectbottomzero select {
        margin-bottom: 0;
    }
    .card_no_btn.changePlanCard {
        top: -25px!important;
        border-bottom: 0!important;
        left: 118px;
        margin-top: -7px !important;
    }
    .inner-sidenav-mobile.sidenav {
        height: auto !important;
    }
    .indexwithoutchart-block .form-container .balance-topblock {
        padding: 0 25px 0 25px;
    }
    .transactivity-block .transactivity-block-content {
        padding: 0 0 0 0;
    }
    .balance-topblock .text-right {
        text-align: center;
    }
    .titlehead.domesticHead {
        padding-right: 0;
        padding-left: 0;
    }
    .titlehead.domesticHead::before {
        left: 0;
    }
    .updatenewcustomer-btn {
        margin-top: -6px;
    }
    .text-xs-center {
        text-align: center !important;
    }
    .text-xs-center input {
        margin-left: 0;
    }
    .rechargeformblock input:not(:placeholder-shown)+label,
    .rechargeformblock input:focus+label,
    .customerinfo-form input:not(:placeholder-shown)+label,
    .customerinfo-form input:focus+label,
    .customerinfo-form .forminput-block select:not(:placeholder-shown)+label,
    .customerinfo-form .forminput-block select:focus+label,
    .customerinfo-form .forminput-block textarea:not(:placeholder-shown)+label,
    .customerinfo-form .forminput-block textarea:focus+label {
        text-transform: uppercase !important;
        font-weight: bold;
    }
    .rechargeformblock .form-group label.css-label {
        font-size: 16px !important;
        text-transform: capitalize !important;
        padding-top: 5px;
        margin-top: -12px;
        margin-bottom: 12px;
    }
    .customerinfo-form input,
    .customerinfo-form textarea,
    .customerinfo-form select {
        font-family: 'lab_grotesquemedium';
        padding: 41px 10px 4px 10px;
        font-size: 16px;
    }
    .customerinfo-form .forminput-block select {
        background: transparent !important;
        touch-action: manipulation;
        z-index: 1;
    }
    .rechargeformblock input.form-control {
        font-family: 'lab_grotesquemedium';
        font-size: 16px;
    }
    .customerinfo-form {
        padding: 0 7%;
        width: 100%;
        max-width: 100%;
    }
    .customerinfo-form div {
        width: 100%!important;
        max-width: 100%;
    }
    .usermobile-detailblock li span img {
        vertical-align: top;
    }
    .usermobile-detailblock li span {
        display: inline-block;
        vertical-align: bottom;
    }
    h4.planheadLine {
        margin: 0 0 30px 0;
        color: #3c3c3c;
        font-family: 'lab_grotesqueregular';
        font-size: 20px;
    }
    #no-more-tables tr {
        padding: 30px 6% !important;
    }
    .customerinfo-form .forminput-block label {
        transform-origin: -20px -50px;
        font-size: 10px;
    }
    .calldetailbutton-block .rechargesubmit-btn {
        margin: 0 !important;
    }
    a.printcdrnew-btn {
        padding-left: 7%;
        display: block;
    }
    .usermobile-detailblock li span {
        font-size: 15px;
    }
    .rechargesubmit-btn.grey-cancel-btn {
        margin-top: 0 !important;
    }
    .rechargeformblock .form-group label {
        font-size: 10px;
    }
    .customerinfo-buttonblock .updatesubmit-btn {
        margin-top: 0;
    }
    .rechargeformblock select:not(:placeholder-shown)+label,
    .rechargeformblock select:focus+label,
    .rechargeformblock input:not(:placeholder-shown)+label,
    .rechargeformblock input:focus+label,
    .form-group span:not(:placeholder-shown)+label,
    .form-group span:focus+label {
        text-transform: uppercase;
        font-weight: bold;
    }
    .change-password .form-group input,
    .change-password .form-group span,
    .form-group input,
    .form-group span {
        font-size: 16px !important;
    }
    .make_payment .makepymnt-hedingtop {
        color: #0d5ea8;
        font-family: 'lab_grotesquelight';
        margin: 0 auto;
        max-width: 292px;
    }
    h2.mkepaymnt-balance span {
        text-align: right;
        float: right;
        color: #0d5ea8;
    }
    h2.mkepaymnt-balance {
        text-align: left;
        font-size: 20px;
    }
    .customerinfo-buttonblock .rechargesubmit-btn {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .rechargeformblock textarea:not(:placeholder-shown)+label,
    .rechargeformblock textarea:focus+label {
        transform: translate(10px, 0px) scale(1);
        text-transform: uppercase;
        font-weight: bold;
    }
    .manageUser-table .pinless-setup tr td {
        font-size: 12px !important;
        font-weight: bold;
        vertical-align: top;
    }
    .manageUser-table {
        padding: 0 7%;
    }
    .manageUser-table .pinless-setup tr td:nth-child(3) {
        text-align: left !important;
        padding-right: 10px;
        padding-left: 10px;
    }
    .manageUser-table .pinless-setup tr td:first-child {
        text-align: left !important;
        padding-left: 0;
    }
    .checkbox-select label {
        padding-left: 7%;
    }
    .make_payment_fieldset {
        font-size: 15px;
        padding-left: 0;
    }
    .topup_search {
        bottom: 10px;
    }
    .rechargeformblock .form-group input[type=checkbox].css-checkbox+label.css-label,
    input[type=checkbox].css-checkbox+label.css-label.clr {
        font-family: 'lab_grotesquebold';
        margin: 0 0 0 -12px;
    }
    .tablehead_blue {
        padding: 0 7%;
    }
    .checkRates-table {
        padding: 0 6%;
        margin: 0;
        width: 100%;
    }
    .checkRates-table .pinless-setup td,
    .checkRates-table .pinless-setup tr th {
        text-align: left !important;
    }
    .checkRates-table .pinless-setup td:nth-child(2),
    .checkRates-table .pinless-setup tr th:nth-child(2) {
        text-align: right !important;
    }
    .labelalign .labelnew {
        padding: 0;
        margin-left: -5px;
        font-weight: bold;
    }
    /*.sidenav::-webkit-scrollbar { 
      display: block !important; 
  }*/
    .sidenav.inner-sidenav-mobile.bg-blue-inner {
        min-height: 100%;
        overflow: scroll;
        height: 400px !important;
    }
    /*.inner-links{    overflow-y: scroll;
      overflow: auto;
      height: 400px;}*/
    .inner-sidenav-mobile .inner-pushmenu-left.pushmenu-open {
        z-index: 10000000;
        margin-top: 100px;
        padding-top: 0 !important;
    }
    /*.inner-sidenav-mobile .inner-pushmenu {
      background: #f00 !important;
  }
  */
    .inner-sidenav-mobile .inner-pushmenu {
        background: #1caef7 !important;
    }
    .full-number {
        text-align: right;
    }
    .rechargesubmit-btn {
        margin-top: 0;
    }
    .callEvenbg td center {
        text-align: right !important;
    }
    .newcustomer-btmbtn input,
    .mobilefull-width-btn input,
    .sales_reportbutton-block input {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .newcustomer-btmbtn {
        padding: 0 7%;
    }
    .manageUser-table .pinless-setup tr td input[type="checkbox"] {
        margin: 0;
    }
    #selectall {
        display: inline-block;
        vertical-align: sub;
    }
    .phonecard-pinnumber input {
        font-size: 28px !important;
        height: 49px;
    }
    .forminput-block input[type="checkbox"]:checked {
        box-shadow: 0 0 0 3px #36b7f8;
    }
    .rechargeformblock .setpinAuto {
        width: 115px !important;
    }
    .innerTopHead {
        padding: 46px 0;
    }
    .innerTopHead .phn_num {
        margin-left: 470px;
    }
    .innerTopHead .pull-right {
        margin-top: 0 !important;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        top: 36px;
    }
    label.tooltip-size {
        width: 100% !important;
        font-size: 10px !important;
        text-transform: capitalize !important;
    }
    .commission-setting-content p {
        font-size: 15px;
        text-align: center;
    }
    .create-1 p a {
        margin-left: 11px;
    }
    .retailersubmenu select option:first-child {
        display: none;
    }
    .recharge_confirm-padding h3 {
        padding: 35px 0 !important;
    }
    .currentBalance-input {
        text-align: right;
        padding-left: 6%;
        display: inline-block;
        width: 100px;
        float: right;
        margin: 0 !important;
    }
    .customer_profile-spacing {
        margin-top: 30px;
    }
    .complaindetails-alignment table tr td {
        font-size: 14px;
    }
    td.bigtext .complaint-textarea {
        width: 100%;
    }
    .complaint-detail-centeralign h2.tableblue-heading {
        margin: 0 0 8px;
        font-size: 25px;
    }
    .newcustomer-bg {
        height: auto;
    }
    .headingalignment {
        padding-left: 0;
    }
    .multipleRechargeMode-block p.recharge_note {
        padding-left: 0;
        font-size: 14px;
    }
    .confirmation-mobilealignment .confirm_infomation ul li span {
        margin-right: 0;
    }
    .headingalignment .blueHeading-new,
    .headingalignment .currentbalance-new {
        padding: 0;
    }
    span.borderline-style:after {
        height: 73px;
    }
    .confirmation-mobilealignment .confirm_infomation ul li {
        margin-bottom: 0;
    }
    .internationalrecharge-searchbtn .form-control,
    .rechargeformblock .form-control {
        width: 100% !important;
    }
    .internationalrecharge-searchbtn .topup_search {
        right: 0;
    }
    .tpaneln {
        width: 100%;
    }
    .mobileLabel-style p {
        font-size: 9px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'lab_grotesqueregular';
        margin-bottom: 0;
    }
    .registerform-footer .rechargeformblock {
        padding: 0 !important;
    }
    .registerform-footer {
        padding: 50px 0;
    }
    .registerform-footer .rechargeformblock .rechargesubmit-btn {
        padding: 12px 20px 7px 20px !important;
    }
}

@media screen and (max-width: 380px) {
    /*--footerlogo css start--*/
    .partnerlogo-block ul li {
        width: 20%;
    }
    /*--footerlogo css end--*/
    section.login-section .login-form {
        margin-top: 70px !important;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables tr {
        border: none;
        padding: 30px;
    }
    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: none;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: right !important;
    }
    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
    Label the data
    */
    #no-more-tables td:before {
        content: attr(data-title);
    }
    #loadMore {
        display: block;
    }
    /*-convert to dropdown start-*/
    .retailersubmenu ul {
        display: none;
    }
    .retailersubmenu select {
        color: #3c3c3c;
        display: inline-block;
        padding: 6px 11px;
        margin-bottom: 30px;
        width: 269px;
        height: 46px;
        border-radius: 5px;
        font-size: 16px;
        padding-top: 10px;
        background: transparent url(../new-images/selectbox-icon.png) no-repeat 94% center;
        -webkit-appearance: none;
        font-family: 'lab_grotesquemedium';
    }
    /*-convert to dropdown end-*/
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .confirmationrzt {
        font-size: 11px!important;
        font-weight: 500;
        color: #3c3c3c;
        font-family: 'lab_grotesquelight';
        text-transform: none!important;
    }
}


/* prakash code start from here*/

@media only screen and (min-width: 120px) and (max-width: 480px) {
    .tbl_scroll,
    .complaint-tbl-new {
        overflow: hidden!important;
    }
    .sales-tbl {
        display: block!important;
        height: 100%!important;
        overflow: auto!important;
        width: 100%!important;
    }
    table-cont {
        overflow: auto!important;
        height: 100%!important;
        width: 100%!important;
    }
    #cont {
        width: 60%;
    }
    #mins {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    #call_numb {
        display: none!important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    .red_error {
        background: none repeat scroll 0 0 #fed2d3;
        border: 1px solid #d8929c;
        margin: 18px auto;
        padding: 8px 1%!important;
        width: 100%;
        text-align: center;
        color: #000;
        position: relative;
        margin-top: 70px!important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    #MainContent_spnAlphabet {
        height: 100%!important;
        width: 20px!important;
        position: absolute!important;
        z-index: 1 !important;
        top: 00px!important;
        right: 0!important;
        margin-top: 565px!important;
        padding-top: 10px!important;
    }
    #MainContent_spnAlphabet {
        padding: 3px 28px 3px 0px!important;
        text-decoration: none!important;
        font-size: 10px!important;
        color: #0033EE;
        display: block!important;
        margin-right: 3px!important;
    }
    #MainContent_spnAlphabet {
        color: #000;
        margin-right: 12px;
    }
    .MainContent_tbody {
        margin-left: 0px;
        /* Same as the width of the sidebar */
        padding: 0px 10px;
        width: 85%;
    }
    .check_rates ul li a {
        color: #0d5ea8;
        font-family: "lab_grotesqueregular", sans-serif!important;
        font-size: 15px!important;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .main {
        overflow: hidden!important;
    }
}

@media only screen and (min-width: 680px) {
    .sidenav-num {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    #bd-images {
        display: none!important;
    }
}

@media (max-width:629px) {
    #bd-images {
        display: none;
    }
}

@media only screen and (min-width: 670px) {
    #bm-images {
        display: none;
    }
    
}

@media only screen and (min-width: 120px) and (max-width: 680px) {
    #bal_mob {
        display: block;
    }
    #ad_bal {
        float: right;
        position: absolute;
        right: 11px;
        top: 0px;
    }
    .newsletter {
        display: block;
    }
    .newsletter .card {
        width: 100%;
    }
}