@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-light-red: #f8f8f8;
  --title-color: #080808;
  --bg-light-blue: #dbf4ff;
  --bg-white: #ffffff;
  --text-blue: #00adfb;
  --bg-red: #ff493c;
  --gray: #f1f2f2;
  --dark-gray: #808080;
  --dark-gray1: #dedede;
  --table-head-bg: #f8f8f8;
  --rzt-primary: #1caef7;
}

.bg-light-red {
  background-color: var(--bg-light-red);
}

.table-head-bg {
  background-color: var(--table-head-bg);
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-light-blue {
  background-color: var(--bg-light-blue);
}

.title-color {
  color: var(--title-color);
  font-weight: 600;
}

.text-semiBold {
  font-weight: 600;
}

.text-medium {
  font-weight: 500;
}

.fs-small {
  font-size: 12px;
}

.header-strip li.active {
  background: #fff;
}

.header-strip li.active a {
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fixed-top-head {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #1caef7;
  padding: 12px 0;
  left: 0;
  top: 46px;
}

.innerTopHead ul {
  padding: 0;
  margin: 0 37px 0 0;
}

.innerTopHead ul li:first-child {
  margin-right: 46px;
}

.innerTopHead ul li {
  display: inline-block;
  vertical-align: initial;
}

.innerTopHead ul li h5,
.innerTopHead h5 {
  font-size: 15px;
  color: #fff;
  font-family: "lab_grotesquebold";
  margin-bottom: 0;
}

.innerTopHead ul li h5 span {
  font-family: "lab_grotesquelight";
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

.innerTopHead ul li:nth-child(2) {
  margin-right: 19px;
}

.number {
  position: absolute;
  left: 273px;
}

.addcredit-btn {
  background: #ff664f;
  padding: 10px 27px 9px 51px;
  color: #fff;
  font-size: 15px;
  font-family: "lab_grotesquemedium";
  display: inline-block;
  position: relative;
  border-radius: 100px;
}

.addcredit-btn::before {
  position: absolute;
  content: "";
  background: url(../images/addcredit-icon.png) no-repeat left center;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 13px;
}

.header-strip {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-strip li a {
  color: #fff;
  text-transform: uppercase;
}

.header-strip ul {
  display: flex;
  justify-content: center;
}

.header-strip li {
  padding: 11px 24px;
}

.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 99;
  top: 46px;
  left: 0;
  background-color: #1caef7;
  overflow-x: hidden;
  padding-top: 0;
  padding: 10px 32px 20px 32px;
}

.inner-mobile-logo {
  display: none;
}

.sidenav a {
  padding: 7px 0;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  width: 100%;
  font-size: 14px !important;
  font-family: "lab_grotesqueregular";
  transition: all 0.3s ease-in-out;
}

.sidenav-logo {
  padding-top: 15px !important;
}

.sidenav-logo {
  padding-top: 15px !important;
}

li.sidenav-number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 18px;
  margin-top: 19px;
  margin-bottom: 17px;
}

.sidenav ul li a span {
  margin-right: 11px;
  display: inline-block;
  vertical-align: text-bottom;
}

.razaphonecard-icon {
  background-position: -245px -10px;
}

.spriteIimage {
  background: url(../images/sprite-image.png) no-repeat center center;
  width: 21px;
  height: 21px;
  display: inline-block;
}

.accountsummary-icon {
  background-position: -10px -40px;
}

.createaccount-icon {
  background-position: -39px -40px;
}

.checkrate-icon {
  background-position: -66px -40px;
}

.salesreport-icon {
  background-position: -98px -40px;
}

.commissionsummry-icon {
  background-position: -128px -40px;
}

.resource-icon {
  background: url("../images/resource.png");
}

.activation-icon {
  background: url("../images/activation.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 14px;
}

.managesub-icon {
  background: url("../images/manage-sub.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  background-size: contain;
}

.toolbox-icon {
  background: url("../images/toolbox.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
}

.setting-icon {
  background-position: -186px -40px;
}

.livechat-icon {
  background-position: -250px -10px;
}

.razaphonecard-icon {
  background-position: -245px -40px;
}

.videolibrary-icon {
  background-position: -292px -90px;
  position: relative;
  top: 2px;
}

.videolibrary-icon1 {
  background-position: -245px -90px;
  width: 37px;
  position: relative;
  top: 2px;
  left: 11px;
}

.logout-icon {
  background-position: -484px -40px;
}

.currentBalance-icon {
  background-position: -270px -9px;
}

/*.sidenav ul li a:hover .currentBalance-icon{
    background-position: -270px -40px;
}
*/

.custlookup-icon {
  background-position: -352px -9px;
}

/*
.sidenav ul li a:hover .custlookup-icon{
    background-position: -352px -40px;
}
*/

.blockcustomer-icon {
  background-position: -297px -9px;
}

/*
.sidenav ul li a:hover .blockcustomer-icon{
    background-position: -297px -40px;
}
*/

.manageUser-icon {
  background-position: -377px -9px;
}

/*
.sidenav ul li a:hover .manageUser-icon{
    background-position: -377px -40px;
}
*/

.changePassword-icon {
  background-position: -456px -9px;
}

/*
.sidenav ul li a:hover .changePassword-icon{
    background-position: -456px -41px;
}
*/

.marketingMaterials-icon {
  background-position: -406px -9px;
}

/*
.sidenav ul li a:hover .marketingMaterials-icon{
    background-position: -406px -40px;
}
*/

.makePayment-icon {
  background-position: -325px -9px;
}

/*
.sidenav ul li a:hover .makePayment-icon{
    background-position: -325px -40px;
}
*/

.useProfile-icon {
  background-position: -431px -9px;
}

/*
.sidenav ul li a:hover .useProfile-icon{
    background-position: -431px -40px;
}
*/

.innerFooter {
  background: #063573;
  z-index: 99 !important;
  position: fixed;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "lab_grotesquemedium";
  height: 60px;
  padding: 15px 0 0;
  bottom: 0;
  z-index: 0;
  vertical-align: bottom;
}

.footer-container {
  width: 96%;
  margin: 0 auto;
}

.innerFooter ul {
  margin-top: 10px;
  margin-right: 150px;
}

.innerFooter ul li {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 36px;
}

.innerFooter ul li a {
  color: #a2d5ed;
  transition: all 0.3s ease-in-out;
}

.innerFooter p {
  color: #a2d5ed;
}

.main {
  margin-left: 270px;
  font-size: 16px;
  padding: 16px 0px 0;
  margin-top: 96px;
  min-height: 100%;
}

.note a {
  color: #000;
  font-weight: 600;
  position: relative;
  font-style: italic;
}

.note a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
  bottom: -2px;
}
.note span {
  font-weight: 700;
  padding: 0 4px;
}

.mob-w {
  width: 163px;
  height: 163px;
  background: #fff;
  filter: drop-shadow(0px 0px 10px rgba(0, 173, 251, 0.44));
  border-radius: 50%;
  padding: 20px;
  margin: auto;
}

.banner img {
  max-height: 248px;
  object-fit: cover;
}

.banner-strip {
  background-color: var(--rzt-primary);
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.box {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.19));
  background-color: #ffffff;
  padding: 16px;
  height: 100%;
}

.gbox {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 8px;
}

.gbox ul {
  width: 50%;
}

.gbox li a {
  color: #000;
  font-size: 12px;
}

.gbox .fa {
  padding: 7px;
  font-size: 16px;
  width: 31px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background: #000;
  color: #fff;
}

.gbox1 {
  background-color: #f1f2f2;
  padding: 20px;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  border-radius: 4px;
}

.boxn {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.19));
  background-color: #ffffff;
  padding: 16px;
  font-size: 12px;
}
.gboxdark {
  background-color: var(--dark-gray1);
  padding: 20px;
  border-radius: 6px;
}

.gboxdark ul {
  width: 50%;
}

.gboxdark li a {
  color: #000;
  font-size: 12px;
}


.range {
  font-weight: 300;
  font-size: 30px;
  line-height: 14.4px;
  text-align: center;
  color: #000;
  padding: 20px;
}

.blueText {
  color: #00adfb;
}

.planbutton {
  padding: 0.6rem;
  height: 5rem;
}

.planbuttonW {
  width: 100% !important;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Style all font awesome icons */

.fa {
  padding: 7px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  /* background: #ff0000; */
  color: #fff;
}

.gbox1 .fa {
  padding: 2px;
  font-size: 10px;
  width: 16px;
  text-align: center;
  height: 16px;
  border-radius: 50%;
  background: #ff493c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.mobilebg {
  background: url(../images/mobilebg.png) no-repeat center center;
}
.mobilebgimage {
  height: 107px;
  height: 173px;
  margin-top: 64px;
}

/* Add a hover effect if you want */

/* .fa:hover {
    color: var(--text-blue);
} */

/* Set a specific color for each brand */

.card-brand .card-header {
  background: var(--text-blue);
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
}

.card-brand p,
.note,
.card-brand p,
.card-brand label {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}

.or {
  font-size: 20px;
  color: var(--text-blue);
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

.text-blue {
  color: var(--text-blue);
}

.text-gray {
  color: var(--gray);
}
.text-darkgray {
  color: var(--dark-gray);
}

.plan-table,
.plan-table button {
  font-size: 12px;
}

.result-table tr td:first-child {
  width: 20%;
}

.search-details .title-color {
  font-size: 24px;
}

.search-details .title-color span {
  opacity: 0.5;
}

.search-details .title-color a {
  font-size: 14px;
  font-weight: 500;
  margin-left: 16px;
}

.gbox1.program-phone .fa {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ff493c;
  color: #fff;
  font-size: 14px;
}

.undeline-primary {
  position: relative;
}

.undeline-primary:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #1caef7;
  left: 0;
  right: 0;
  bottom: -2px;
}


.portin-table td {
  border: 0;
}

.portin-table th {
  padding: 12px;
}

.portin-table td {
  font-weight: 500;
}

.page-link {
  color: #000;
}
.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.newsletter .card {
  text-align: center;
  padding: 20px;
  border: 0;
  width: 215px;
  background-color: #ffffff;
  transition: filter 0.2s ease-in-out;
  margin: auto;
}

.newsletter .card img {
  width: 100%;
  object-fit: contain;
}

.newsletter .card p {
  font-size: 18px;
  color: #ff493c;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

.newsletter .card p:first-child {
  margin-top: 10px;
}

.newsletter .card:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.19));
}
.popup {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  width: 600px;
  bottom: 0;
  left: -1px;
  height: 250px;
  z-index: 99;
}

.popup-success {
  /* border: 5px solid #1cf7a8; */
  border-radius: 20px;
  /* overflow: hidden; */
}
.icon-wrapper {
  width: 28%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}
.popup-content {
  border-radius: 0px 10px 10px 0;
  height: 100%;
  padding: 16px 20px;
  width: 72%;
  background-color: #fff;
}
.popup-content p {
  font-size: 19px;
  font-weight: 600;
}
.popup-content h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.btn-black {
  background-color: #000;
  padding: 10px 16px;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 0;
}

.popup-success .icon-wrapper {
  background-color: #1cf7a8;
}
.popup-warning {
  border-radius: 20px;
}

.popup-success .popup-content {
  border: 5px solid #71f6a9;
}
.popup-warning .popup-content {
  border: 5px solid #fb8a04;
}
.popup-warning .icon-wrapper {
  background-color: #fb8a04;
}
